*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    margin: 15px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.displayUp{ /*header*/
    display: flex;
}
.logoHeader{
    width: 100px;
    margin: 15px;
}
.displayList{
    display: flex;
}

 /*section 1 stitch*/
.bannerStitch{
    width: 1515px;
}
.logoStitch{
    width: 412px;
    position: absolute;
        top: 167px;
        left: 127px;
}
.textLogoStitch{
    position: absolute;
        top: 496px;
        left: 261px;
}
.buttonStitch{
    position: absolute;
        top: 34em;
        left: 19em;
    display: flex;
    flex-direction: column;
}


.vignetteSection{ /*section 2 vignette*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
.textVignette{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.textVignette2{
    width: 16em;
}
#alignBoutique{
    margin-top: 51px;
}
#alignDisneyFilm{
    margin-top: 97px;
}
.vignetteImg{
    display: flex;
    justify-content: center;
    width: 320px;
}
.textVignetteLink{
    display: flex;
    align-items: flex-end;
    margin-left: 25px;
}
.colorSection{ /*couleur du fond de la page d'une div*/
    background-color: #f1f2f3;
}
.colorBackground{ /*couleur fond div vignettes images textes*/
    background-color: #fffff7;
    margin: 1em; /* autre dimension que px*/
}

/*section 3 disney+*/
#colorSection2{
    background-color: #054553;
}
.textWhite{
    color: #ffffff;
}
#textGrey{
    color: #c7c7c9;
}
.textCenter{
    text-align: center;
}
.textPaddingDisney{
    padding: 47px;
}
.textPadding{
    padding: 10px;
}
.bannerSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bannerImg{
    display: flex;
    width: 425px;
    padding: 10px;
}
.buttonDisney{
    display: flex;
    justify-content: center;
}

/*section 4 parcs*/
.textPaddingParcs{
    padding-top: 47px;
    padding-bottom: 20px;
}
.parcSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.parcImg{
    display: flex;
    justify-content: center;
    width: 662px;
}
.textParc{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 37em;
}
#textCruise{
    margin-top: 25px;
}

/*section 5 spectacles*/
.spectacleLionImg{
    display: flex;
    justify-content: center;
    width: 650px;
}
.spectacleImg{
    display: flex;
    justify-content: center;
    width: 320px;
}
.textLionSpectacle{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 37em;
}
.textSpectacle{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 16em;
}

/*section 6 boutique*/
.boutiqueSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cadeauImg{
    display: flex;
    justify-content: center;
    width: 84em;
}
.logoBoutique{
    position: absolute;
    top: 219em;
    left: 360px;
    width: 23em
}
.textDecouvrir{
    position: absolute;
    top: 228em;
    left: 494px;
    color: #ffffff;
}
.textDecouvrir:hover{ /* sert quand on survole un element pour qu'il change*/
    text-decoration: underline;
}
.textBoutique{
    position: absolute;
    top: 226em;
    left: 385px;
    color: #ffffff;
}

/*section 7 films*/
.filmImg{
   display: flex;
    width: 271px;
    padding: 10px;
}
.textBlue:hover{
    color: #1786eb;
}

/*section 8 plus d'actus */
.textInscrip{
    position: absolute;
    top: 286em;
    left: 725px;
    width: 139px;
    color: #ffffff;
}
.buttonActus{
    position: absolute;
    top: 290em;
    left: 725px;
}

/* ----------------------------------------------------MENU BURGER-------------------------------------------------------*/
#menuToggle
{
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*This is the Menu part, which gets triggered by toggle*/
#menu
{
    position: absolute;
    width: 90vw;
    height: 110vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}

#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}

#menu li a {
    color: #000000;
    text-decoration: none;
    text-transform:uppercase
}

#menu li a:hover {
    color: #2C3E50;
    text-decoration: none;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
/* --------------------------------------------FIN MENU BURGER----------------------------------------*/

.navBurger{ /*pour configurer la disparition du menu burger*/
    display: none;
}

@media screen and (max-width:800px){
    .displayUp{
        display: none;
    }
    .navBurger{
        display: block;
    }
    .bannerStitch{
        width: 780px;
    }
    .logoStitch{
        top: 350px;
        left: 82px;
        width: 300px ;
    }
    .textLogoStitch{
        top: 588px;
        left: 150px;
    }
   .vignetteSection{
        margin-top: 25em;
   }
   .cadeauImg{
        width: 49em;
   }
   .logoBoutique{
        top: 428em;
        left: 42px;
        width: 17em;
   }
   .textBoutique{
    top: 433em;
    left: 22px ;
   }
   .textDecouvrir{
    top: 435em;
    left: 134px;
}
.textInscrip{
    top: 536em;
    left: 326px;
}
.buttonStitch{
    top: 41em;
    left: 13em;
}
.buttonActus{
    position: absolute;
    top: 541em;
    left: 295px;
}
}