*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    margin: 15px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.displayUp{ /*header*/
    display: flex;
}
.logoHeader{
    width: 100px;
    margin: 15px;
}
.displayList{
    display: flex;
}

 /*section 1 stitch*/
.bannerStitch{
    width: 1515px;
}
.logoStitch{
    width: 412px;
    position: absolute;
        top: 167px;
        left: 127px;
}
.textLogoStitch{
    position: absolute;
        top: 496px;
        left: 261px;
}

.vignetteSection{ /*section 2 vignette*/
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}
.textVignette{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.textVignette2{
    width: 16em;
}
#alignBoutique{
    margin-top: 51px;
}
#alignDisneyFilm{
    margin-top: 97px;
}
.vignetteImg{
    display: flex;
    justify-content: center;
    width: 320px;
}
.textVignetteLink{
    display: flex;
    align-items: flex-end;
    margin-left: 25px;
}
.colorSection{ /*couleur du fond de la page d'une div*/
    background-color: #f1f2f3;
}
.colorBackground{ /*couleur fond div vignettes images textes*/
    background-color: #fffff7;
    margin: 1em; /* autre dimension que px*/
}

/*section 3 disney+*/
#colorSection2{
    background-color: #054553;
}
.textWhite{
    color: #ffffff;
}
#textGrey{
    color: #c7c7c9;
}
.textCenter{
    text-align: center;
}
.textPaddingDisney{
    padding: 47px;
}
.textPadding{
    padding: 10px;
}
.bannerSection{
    display: flex;
    justify-content: center;
}
.bannerImg{
    display: flex;
    width: 425px;
    padding: 10px;
}

/*section 4 parcs*/
.textPaddingParcs{
    padding-top: 47px;
    padding-bottom: 20px;
}
.parcSection{
    display: flex;
    justify-content: center;
}
.parcImg{
    display: flex;
    justify-content: center;
    width: 662px;
}
.textParc{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 37em;
}
#textCruise{
    margin-top: 25px;
}

/*section 5 spectacles*/
.spectacleLionImg{
    display: flex;
    justify-content: center;
    width: 650px;
}
.spectacleImg{
    display: flex;
    justify-content: center;
    width: 320px;
}
.textLionSpectacle{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 37em;
}
.textSpectacle{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 16em;
}

/*section 6 boutique*/
.boutiqueSection{
    display: flex;
    justify-content: center;
}
.cadeauImg{
    display: flex;
    justify-content: center;
    width: 84em;
}
.logoBoutique{
    position: absolute;
    top: 219em;
    left: 360px;
    width: 23em
}
.textDecouvrir{
    position: absolute;
    top: 228em;
    left: 494px;
    color: #ffffff;
}
.textDecouvrir:hover{ /* sert quand on survole un element pour qu'il change*/
    text-decoration: underline;
}
.textBoutique{
    position: absolute;
    top: 226em;
    left: 385px;
    color: #ffffff;
}

/*section 7 films*/
.filmImg{
   display: flex;
    width: 271px;
    padding: 10px;
}
.textBlue:hover{
    color: #1786eb;
}

/*section 8 plus d'actus */
.textInscrip{
    position: absolute;
    top: 286em;
    left: 725px;
    width: 139px;
    color: #ffffff;
}